generator client {
    provider = "prisma-client-js"
}

datasource db {
    provider = "sqlite"
    url      = env("DATABASE_URL")
}

model AuthorizationCode {
    id         String   @id @unique
    payload    Json
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_authorization_codes")
}

model DeviceCode {
    id         String   @id @unique
    payload    Json
    userCode   String?
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_device_codes")
}

model RefreshToken {
    id         String   @id @unique
    payload    Json
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_refresh_tokens")
}

model Grant {
    id         String   @id @unique
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_grants")
}

model Interaction {
    id         String   @id @unique
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_interactions")
}

model Session {
    id         String   @id @unique
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_sessions")
}